body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(#1e1e1e, #4b4b4b);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  background: #2c2c2c;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  animation: fadeIn 1s ease-in-out;
}

.tab-header {
  display: flex;
  justify-content: space-evenly;
  background: #444;
  padding: 1rem 0;
}

.tab-header div {
  flex: 1;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s ease-in-out;
}

.tab-header div.active {
  color: #bc57bc;
  font-weight: bold;
}

.form-container {
  padding: 2rem;
  display: none;
}

.form-container.active {
  display: block;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input {
  background: #3a3a3a;
  border: none;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  color: #fff;
}

.form-container button {
  background-color: #bc57bc;
  border: none;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  color: #1e1e1e;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form-container button:hover {
  background: #8c408c;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.9);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes slideIn {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}